@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&family=Shrikhand&display=swap");
:root {
  --font-family-logo-title: "Shrikhand", cursive;
  --font-family-text: "Roboto", sans-serif;
  --primary: #9356dc;
  --secondary: #ff79da;
  --tertiary: #99e2d0;
  --text-dark: #000;
  --text-light: #fff;
  --text-new: #008766;
  --icon-step: #7e7e7e;
  --step-hover: #f5edff;
  --background: #fff;
  --background-light: #f6f6f6;
  --background-dark: #353535;
  --box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15), 0 3px 3px rgba(0, 0, 0, 0.1);
  --box-shadow-btn-card: 0 6px 6px rgba(0, 0, 0, 0.1);
  --btn-home-gradient: linear-gradient(
    341deg,
    rgba(147, 86, 220, 1) 0%,
    rgba(255, 121, 218, 1) 100%
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  padding: 1.5rem 2rem;
  background: var(--btn-home-gradient);
  border-radius: 3rem;
  color: var(--text-light);
  box-shadow: var(--box-shadow-btn-card);
}

footer {
  padding: 2rem 2rem 3rem 2rem;
  background: var(--background-dark);
}
footer h3 {
  color: var(--text-light);
  font-family: var(--font-family-logo-title);
  font-size: 2rem;
  margin: 0 0 2rem 0;
}
footer ul li {
  margin-bottom: 1rem;
}
footer ul li a {
  color: var(--text-light);
}
footer ul li a i {
  margin-right: 0.5rem;
  font-size: 1.5rem;
  width: 2rem;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: var(--text);
  font-family: var(--font-family-text);
  background: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2rem 0;
}

h1 {
  font-size: 3rem;
  font-family: var(--font-family-logo-title);
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.9rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.7rem;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  color: var(--text-dark);
  text-decoration: none;
}

p {
  font-size: 1.5rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 6rem;
}
.header a {
  line-height: 6rem;
  position: absolute;
  left: 3rem;
  font-size: 2.5rem;
}

.img-restaurants {
  width: 100%;
  height: 28rem;
  position: absolute;
}
.img-restaurants img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main {
  position: relative;
  margin-top: 24rem;
}
main .container-cards-restaurants {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background: var(--background-light);
  padding: 2rem 2rem 6rem 2rem;
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  width: 100%;
}
main .container-cards-restaurants h1 {
  font-size: 2.4rem;
}
main .container-cards-restaurants i {
  font-size: 3rem;
  margin-right: 1.5rem;
}
main .container-cards-restaurants .card {
  width: 100%;
  margin-bottom: 2rem;
}
main .container-cards-restaurants .card h2 {
  text-transform: uppercase;
  font-weight: 400;
  margin: 0.5rem 0;
}
main .container-cards-restaurants .card hr.solid {
  border-top: 0.5rem solid var(--tertiary);
  width: 6rem;
}
main .container-cards-restaurants .card article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 2rem;
  background: var(--background);
  border-radius: 2rem;
  margin: 2rem 0;
  width: 100%;
  height: 7rem;
  cursor: pointer;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
main .container-cards-restaurants .card article .description {
  flex-grow: 1;
  flex-shrink: 2;
  min-width: 30%;
}
main .container-cards-restaurants .card article .description h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  font-size: 1.7rem;
}
main .container-cards-restaurants .card article .description p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
main .container-cards-restaurants .card article .price {
  width: 25%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
main .container-cards-restaurants .card article .price p {
  font-size: 1.6rem;
  font-weight: 700;
}
main .container-cards-restaurants .card article .add {
  display: none;
  width: 25%;
  height: 100%;
}
main .container-cards-restaurants .card article .add i {
  color: white;
  font-size: 2rem;
  margin-right: 0;
}
main .container-cards-restaurants .card article:hover .add {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--tertiary);
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
main .container-cards-restaurants .btn-order {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .container-cards-restaurants .btn-order .btn {
  padding: 1.5rem 4rem;
}

/*# sourceMappingURL=restaurants.css.map */
