@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&family=Shrikhand&display=swap");
:root {
  --font-family-logo-title: "Shrikhand", cursive;
  --font-family-text: "Roboto", sans-serif;
  --primary: #9356dc;
  --secondary: #ff79da;
  --tertiary: #99e2d0;
  --text-dark: #000;
  --text-light: #fff;
  --text-new: #008766;
  --icon-step: #7e7e7e;
  --step-hover: #f5edff;
  --background: #fff;
  --background-light: #f6f6f6;
  --background-dark: #353535;
  --box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15), 0 3px 3px rgba(0, 0, 0, 0.1);
  --box-shadow-btn-card: 0 6px 6px rgba(0, 0, 0, 0.1);
  --btn-home-gradient: linear-gradient(
    341deg,
    rgba(147, 86, 220, 1) 0%,
    rgba(255, 121, 218, 1) 100%
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  padding: 1.5rem 2rem;
  background: var(--btn-home-gradient);
  border-radius: 3rem;
  color: var(--text-light);
  box-shadow: var(--box-shadow-btn-card);
}

footer {
  padding: 2rem 2rem 3rem 2rem;
  background: var(--background-dark);
}
footer h3 {
  color: var(--text-light);
  font-family: var(--font-family-logo-title);
  font-size: 2rem;
  margin: 0 0 2rem 0;
}
footer ul li {
  margin-bottom: 1rem;
}
footer ul li a {
  color: var(--text-light);
}
footer ul li a i {
  margin-right: 0.5rem;
  font-size: 1.5rem;
  width: 2rem;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: var(--text);
  font-family: var(--font-family-text);
  background: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2rem 0;
}

h1 {
  font-size: 3rem;
  font-family: var(--font-family-logo-title);
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.9rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.7rem;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  color: var(--text-dark);
  text-decoration: none;
}

p {
  font-size: 1.5rem;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow);
  height: 6rem;
  z-index: 1;
}
.header__title h1 {
  margin: 0;
}
.header__search {
  width: 100%;
  padding: 1rem;
  background: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 4rem;
}
.header__search i {
  text-align: center;
  margin-right: 1rem;
}
.header__search input {
  width: 40%;
  height: 4rem;
  border: none;
  background: #eaeaea;
  font-weight: 700;
  text-align: center;
  font-size: 1.5rem;
}
.header__search input::placeholder {
  color: var(--text-dark);
}

.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--background-light);
  padding: 4rem 2rem;
}
.home h2 {
  text-align: center;
  margin: 0 2rem 2rem 2rem;
}
.home p {
  text-align: center;
  margin: 0 0 3rem 0;
}

.functioning {
  margin: 4rem 2rem;
}
.functioning .container-functioning-steps {
  margin: 4rem 0 4rem 2rem;
}
.functioning .container-functioning-steps .step {
  height: 8rem;
  margin: 2rem 0;
  background: var(--background-light);
  border-radius: 2rem;
  display: flex;
  align-items: center;
  box-shadow: var(--box-shadow-btn-card);
  cursor: pointer;
  position: relative;
}
.functioning .container-functioning-steps .step span {
  position: absolute;
  text-align: center;
  left: -2rem;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  border-radius: 5rem;
  background: var(--primary);
  color: var(--text-light);
}
.functioning .container-functioning-steps .step i {
  color: var(--icon-step);
  font-size: 3rem;
  margin: 0 2.5rem 0 3rem;
}
.functioning .container-functioning-steps .step p {
  font-weight: 700;
}
.functioning .container-functioning-steps .step:hover {
  background: var(--step-hover);
}
.functioning .container-functioning-steps .step:hover i {
  color: var(--primary);
}

.restaurants {
  padding: 4rem 2rem;
  background: var(--background-light);
}
.restaurants h2 {
  margin: 0 0 2rem 0;
}
.restaurants .card {
  width: 100%;
  height: 25rem;
  background: var(--background);
  border-radius: 2rem;
  margin: 2rem 0;
  box-shadow: var(--box-shadow-btn-card);
}
.restaurants .card .card-img {
  width: 100%;
  height: 70%;
  position: relative;
}
.restaurants .card .card-img img {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.restaurants .card .card-img .new {
  color: var(--text-new);
  background: var(--tertiary);
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 2;
}
.restaurants .card .card-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30%;
}
.restaurants .card .card-description .card-title {
  margin: 1rem;
}
.restaurants .card .card-description .card-title h3 {
  margin: 0 0 0.5rem 0;
}
.restaurants .card .card-description .card-title p {
  font-weight: 300;
}
.restaurants .card .card-description .card-like {
  margin-right: 1rem;
  font-size: 2rem;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
