// Animation des boutons like de la page d'accueil et pages de menu :
.like {
  font-size: 3rem;

  &-stroke {
    position: absolute;
  }
  &-fill {
    position: absolute;
    background: var(--btn-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
}

.card-like {
  height: 2rem;
  width: 2rem;
  position: relative;
  top: -1rem;
  left: -2.5rem;
  cursor: pointer;

  &:hover {
    .like {
      &-fill {
        opacity: 1;
      }
    }
  }
}

// Animation Page Menu - Apparition Progressive :

@keyframes fade-categories-menu {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }
  100% {
    opacity: 1;
  }
}

.card-entries {
  opacity: 0;

  @for $i from 1 through 6 {
    &:nth-child(#{$i}) {
      animation: fade-categories-menu 0.5s * $i forwards ease-in-out;
    }
  }
}

.card-plats {
  opacity: 0;

  @for $i from 1 through 6 {
    &:nth-child(#{$i}) {
      animation: fade-categories-menu 0.5s * $i forwards 1s ease-in-out;
    }
  }
}

.card-desserts {
  opacity: 0;

  @for $i from 1 through 6 {
    &:nth-child(#{$i}) {
      animation: fade-categories-menu 0.5s * $i forwards 2s ease-in-out;
    }
  }
}
