// Animation des boutons like de la page d'accueil :
.like {
  font-size: 3rem;

  &-stroke {
    position: absolute;
  }
  &-fill {
    position: absolute;
    background: var(--btn-home-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
}

.card-like {
  height: 2rem;
  width: 2rem;
  position: relative;
  top: -1rem;
  left: -2.5rem;
  cursor: pointer;

  &:hover {
    .like {
      &-fill {
        opacity: 1;
      }
    }
  }
}
