:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: var(--text);
  font-family: var(--font-family-text);
  background: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2rem 0;
}

h1 {
  font-size: 3rem;
  font-family: var(--font-family-logo-title);
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.9rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.7rem;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  color: var(--text-dark);
  text-decoration: none;
}

p {
  font-size: 1.5rem;
}
