// Functioning - Steps :

.step {
  height: 8rem;
  margin: 2rem 0;
  background: var(--background-light);
  border-radius: 2rem;
  display: flex;
  align-items: center;
  box-shadow: var(--box-shadow-btn-card);
  cursor: pointer;

  span {
    position: relative;
    text-align: center;
    left: -2rem;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    border-radius: 5rem;
    background: var(--primary);
    color: var(--text-light);
    margin: 0 0.5rem;
  }

  i {
    color: var(--icon-step);
    font-size: 3rem;
    margin: 0 2.5rem 0 0;
  }

  p {
    font-weight: 700;
  }

  &:hover {
    background: var(--step-hover);

    i {
      color: var(--primary);
    }
  }
}
