// Fonts :
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&family=Shrikhand&display=swap");

:root {
  --font-family-logo-title: "Shrikhand", cursive;
  --font-family-text: "Roboto", sans-serif;
  --primary: #9356dc;
  --secondary: #ff79da;
  --tertiary: #99e2d0;
  --text-dark: #000;
  --text-light: #fff;
  --background: #fff;
  --background-light: #f6f6f6;
  --background-dark: #353535;
  --box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15), 0 3px 3px rgba(0, 0, 0, 0.1);
  --btn-home-gradient: linear-gradient(
    341deg,
    rgba(147, 86, 220, 1) 0%,
    rgba(255, 121, 218, 1) 100%
  );
}
